<div class="main-content">
  <mat-card class="example-card" *ngFor="let movie of movies" (click)="goToMovieDetails(movie)">
    <img mat-card-image [src]="movie.backdrop_path" class="card-img">
    <mat-card-content>
      <h3 class="ellipsis" [title]="movie.title"> {{movie.title}}</h3>
      <p>
        {{movie.overview}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="$event.stopPropagation();"><mat-icon>favorite</mat-icon> LIKE</button>
      <button mat-raised-button (click)="$event.stopPropagation();"><mat-icon>share</mat-icon> SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>