.card-img {
  background-image: url(http://via.placeholder.com/500x281?text=MovieMasti);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}
