<h1 matDialogTitle>Socail Share</h1>

<mat-dialog-content>
  <div class="share-container">
    <div
      class="item-poster"
      [style.background-image]="'url(' + data.movie.poster_path + ')'"
    ></div>
    <div class="item-details">
      <h2>{{ data.movie.title }}</h2>
      <div class="item-social-share">
        <button mat-raised-button (click)="share('facebook')">Facebook</button>
        <button mat-raised-button (click)="share('twitter')">Twitter</button>
        <button mat-raised-button (click)="share('google+')">Google +</button>
      </div>
      <br />
      <mat-form-field>
        <input id="inputId" matInput [ngModel]="shareUrl" />
      </mat-form-field>
      <p class="actions">
        <button
          mat-raised-button
          role="button"
          color="primary"
          (click)="copyLink(data.id)"
          cdkFocusInitial
        >
          Copy Link
        </button>
        <button mat-raised-button role="button" (click)="onNoClick()">
          Ok
        </button>
      </p>
    </div>
  </div>
</mat-dialog-content>
