.share-container {
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-items: flex-start;
}

.item-poster {
  height: 300px;
  flex: 1;
  margin-right: 10px;
  background-size: contain;
  background-repeat: no-repeat;
}

.item-details {
  flex: 2;
  text-align: left;
  .mat-form-field {
    width: 100%;
  }
  .item-social-share {
    display: flex;
    justify-content: space-around;
  }
  .actions {
    display: flex;
  }
}
