<mat-sidenav-container fullscreen>
  <mat-toolbar color="primary" class="fixed-header">
    <button mat-icon-button (click)="sideNav.open()">
      <mat-icon>view_headline</mat-icon>
    </button>

    <h3>{{title}}</h3>

    <div class="nav-right">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>dialpad</mat-icon>
          <span>Popular</span>
        </button>
        <button mat-menu-item>
          <mat-icon>star</mat-icon>
          <span>Top Rated</span>
        </button>
        <button mat-menu-item>
          <mat-icon>notifications</mat-icon>
          <span>Upcoming</span>
        </button>
      </mat-menu>
    </div>
  </mat-toolbar>

  <mat-sidenav #sideNav class="height">
    <mat-list>
      <a mat-list-item [routerLink]="['/discover']" (click)="sideNav.close()">Discover</a>
      <a mat-list-item [routerLink]="['/popular']" (click)="sideNav.close()">Popular</a>
      <a mat-list-item [routerLink]="['/top-rated']" (click)="sideNav.close()">Top Rated</a>
    </mat-list>
  </mat-sidenav>

  <router-outlet></router-outlet>

</mat-sidenav-container>