<div class="container">
  <h2>Discover New Movies</h2>

  <app-filter (filterChange)="changeSelection($event)"></app-filter>
</div>

<div class="main-content">
  <mat-progress-spinner color="primary" mode="indeterminate" *ngIf="isLoading">
  </mat-progress-spinner>
  <mat-card
    class="example-card"
    *ngFor="let movie of itemList"
    (click)="goToMovieDetails(movie)"
  >
    <img
      mat-card-image
      [src]="movie.backdrop_path"
      class="card-img"
      [alt]="movie.title"
    />
    <mat-card-content>
      <h3 class="ellipsis">{{ movie.title }}</h3>
      <p>
        {{ movie.overview }}
      </p>
    </mat-card-content>
  </mat-card>
</div>
<div class="clearfix">
  <app-footer [pager]="pager" (changePage)="changePage($event)"></app-footer>
</div>
