<div class="container">

  <h2>Discover New Movies</h2>

  <div class="discover-filters">
    <mat-form-field>
      <mat-select [(ngModel)]="options.primary_release_year" placeholder="Year" (change)="getDiscover()">
        <mat-option *ngFor="let year of yearsList" [value]="year">{{year}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select [(ngModel)]="options.sort_by" placeholder="Sory By" (change)="getDiscover()">
        <mat-option *ngFor="let sort of sortByList" [value]="sort.key">{{sort.value}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select multiple [(ngModel)]="options.with_genres" placeholder="Genres" (change)="getDiscover()">
        <mat-option *ngFor="let genres of genresList" [value]="genres.id">{{genres.name}}</mat-option>
      </mat-select>
    </mat-form-field>

  </div>
</div>

<div class="main-content">
  <mat-card class="example-card" *ngFor="let movie of itemList" (click)="goToMovieDetails(movie)">
    <img mat-card-image [src]="movie.backdrop_path" class="card-img">
    <mat-card-content>
      <h3 class="ellipsis"> {{ movie.title}}</h3>
      <p>
        {{movie.overview}}
      </p>
    </mat-card-content>
    <mat-card-footer>
      <reaction></reaction>
    </mat-card-footer>
  </mat-card>
</div>