<div class="main-content">

  <mat-progress-bar *ngIf="!movie" class="example-margin" color="primary" mode="indeterminate"> </mat-progress-bar>

  <mat-card *ngIf="movie" class="movie-details">
    <mat-card-content>
      <!--<img [src]="movie.backdrop_path" alt="">-->
      <div [style.background-image]="'url(' + movie.backdrop_path + ')'" class="movie-img"></div>
      <mat-tab-group (selectedIndexChange)="selectChange($event)" [(selectedIndex)]="index">
        <mat-tab label="Details">
          <h4>{{movie.title}}</h4>

          <p>{{movie.overview}}
          </p>

          <mat-chip-list>
            <mat-chip *ngFor="let genre of movie.genres">{{genre.name}}</mat-chip>
          </mat-chip-list>
        </mat-tab>

        <mat-tab label="Trailers">
          <mat-progress-spinner color="primary" mode="indeterminate" *ngIf="!movie.videos">
          </mat-progress-spinner>
          <div *ngFor="let video of movie.videos" class="movie-trailers">
            <mat-card (click)="openDialog(video)">
              <a href="javascript:void(0)">
                <img [src]="video.imgUrl" alt="">
              </a>
            </mat-card>
          </div>
        </mat-tab>
        <mat-tab label="Reviews">
          <p *ngIf="movie.reviews && movie.reviews.length == 0">
            No Review Yet!
          </p>
          <mat-progress-spinner color="primary" mode="indeterminate" *ngIf="!movie.reviews">
          </mat-progress-spinner>
          <div *ngFor="let review of movie.reviews">
            <h4>{{review.author}}</h4>
            <p>{{review.content}}</p>
            <hr>
          </div>

        </mat-tab>
      </mat-tab-group>

    </mat-card-content>

  </mat-card>

</div>