
.movie-details{
    width: 100%;
    clear: both;
}

.movie-img{
    background-size: cover;
    min-height: 350px;
    width: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.movie-trailers{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    flex-flow: row wrap;
}

.movie-trailers{
    width: 350px;
    display: inline-flex;
    padding: 10px;
}
