<div class="container">

  <h2>Discover New Movies & TV Shows</h2>

  <div class="discover-filters">

    <md-select [(ngModel)]="options.primary_release_year" placeholder="Year" floatPlaceholder="never" (change)="getDiscover()">
      <md-option *ngFor="let year of yearsList" [value]="year">{{year}}</md-option>
    </md-select>
    <md-select [(ngModel)]="options.sort_by" placeholder="Sory By" floatPlaceholder="never" (change)="getDiscover()">
      <md-option *ngFor="let sort of sortByList" [value]="sort.key">{{sort.value}}</md-option>
    </md-select>
    <md-select multiple [(ngModel)]="options.with_genres" placeholder="Genres" floatPlaceholder="never" (change)="getDiscover()">
      <md-option *ngFor="let genres of genresList" [value]="genres.id">{{genres.name}}</md-option>
    </md-select>
    <md-button-toggle-group #group="mdButtonToggleGroup" (change)="changeDiscoverType(group.value)" [value]="discoverType">
      <md-button-toggle value="movie">
        Movies
      </md-button-toggle>
      <md-button-toggle value="tv">
        TV Shows
      </md-button-toggle>
    </md-button-toggle-group>
  </div>

</div>

<div class="main-content">
  <md-card class="example-card" *ngFor="let item of itemList">
    <img md-card-image [src]="item.backdrop_path" class="card-img">
    <md-card-content>
      <h3 class="ellipsis"> {{discoverType=='movie' ?item.title : item.name}}</h3>
      <p>
        {{item.overview}}
      </p>

    </md-card-content>

  </md-card>
</div>