/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
}

.nav-right {
  position: absolute;
  right: 10px;
}

.container {
  clear: both;
  width: 90%;
  margin: 0 auto;
}

.main-content {
  padding: 20px;
  justify-content: center;
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-flow: row wrap;
}

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  display: block
}

.example-card {
  width: 350px;
  margin: 10px;
}

@media only screen and (max-width: 1024px) {
  .container {
    width: 100%;
    padding: 10px;
  }
  .main-content {
    padding: 5px;
    display: flex;
  }
}
